NET "OCTAVE_INC" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "OCTAVE_DEC" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "BTN_MI" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "BTN_FA" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "BTN_SOL" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
#NET "BTN_LA" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
#NET "BTN_SI" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "KEYBOARD_EN" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "KEYBOARD_EN" CLOCK_DEDICATED_ROUTE = FALSE;
# ==== 6-pin header J1 ====
# These four connections are shared with the FX2 connector
NET "BTN_DO" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "BTN_RE" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "BTN_MI" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "BTN_FA" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
# ==== 6-pin header J2 ====
# These four connections are shared with the FX2 connector
NET "BTN_SOL" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "BTN_LA" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "BTN_SI" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
#NET "J2<3>" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;